<%- include('header') -%>

<div class="jumbotron">
    <h3>Twoje dane:</h3>
    <p>Imię:
        <%= name %>
    </p>
    <p>Wiek:
        <%= age %>
    </p>
    <p>Adres E-Mail:
        <%= email %>
    </p>
</div>

<%- include('footer') -%>