<%- include('header') -%>

<form method="POST" action="formdata">
    <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" name="name" id="name" class="form-control" required="required">
    </div>
    <div class="form-group">
        <label for="age">Wiek</label>
        <input type="number" name="age" id="age" class="form-control" required="required" min="1" max="99">
    </div>
    <div class="form-group">
        <label for="email">Adres E-Mail</label>
        <input type="email" name="email" id="email" class="form-control" required="required">
    </div>
    <button class="btn btn-primary">Wyślij</button>
</form>

<%- include('footer') -%>