<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>TIN</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">