<%- include('header') -%>

<div class="jumbotron">
    <h3>Twoje dane:</h3>
    <p>Marka:
        <%= brand %>
    </p>
    <p>Model:
        <%= model %>
    </p>
    <p>Rok produkcji:
        <%= year %>
    </p>
</div>

<%- include('footer') -%>