<form (ngSubmit)="submitForm(contactForm)" #contactForm="ngForm">
  <div class="form-group">
    <label for="name">Imię</label>
    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required">
        Pole <strong>Imię</strong> jest wymagane
      </div>
      <div *ngIf="name.errors.minlength">
        Pole <strong>Imię</strong> wymaga co najmniej 3 znaków
      </div>
      <div *ngIf="name.errors.pattern">
        Pole <strong>Imię</strong> musi zawierać tylko wielkie i małe litery
      </div>
    </div>
    <input type="text" class="form-control" id="name" name="name" minlength="3" pattern="[A-Za-z]{3,}" required="required"
      [(ngModel)]="contact.name" #name="ngModel">
  </div>
  <div class="form-group">
    <label for="second-name">Drugie imię</label>
    <div class="alert alert-danger" *ngIf="secondName.invalid && (secondName.dirty || secondName.touched)">
      <div *ngIf="secondName.errors.minlength">
        Pole <strong>Drugie imię</strong> wymaga co najmniej 3 znaków
      </div>
      <div *ngIf="secondName.errors.pattern">
        Pole <strong>Drugie imię</strong> musi zawierać tylko wielkie i małe litery
      </div>
    </div>
    <input type="text" class="form-control" id="second-name" name="second-name" pattern="[A-Za-z]{3,}" minlength="3"
      [(ngModel)]="contact.secondName" #secondName="ngModel">
  </div>
  <div class="form-group">
    <label for="surname">Nazwisko</label>
    <div class="alert alert-danger" *ngIf="surname.invalid && (surname.dirty || surname.touched)">
      <div *ngIf="surname.errors.required">
        Pole <strong>Nazwisko</strong> jest wymagane
      </div>
      <div *ngIf="surname.errors.minlength">
        Pole <strong>Nazwisko</strong> wymaga co najmniej 3 znaków
      </div>
      <div *ngIf="surname.errors.pattern">
        Pole <strong>Nazwisko</strong> może zawierać tylko wielkie i małe litery i znak `-`
      </div>
    </div>
    <input type="text" class="form-control" id="surname" name="surname" minlength="3" pattern="[A-Za-z-]{3,}" required="required"
      [(ngModel)]="contact.surname" #surname="ngModel">
  </div>
  <div class="form-group">
    <label for="phone-number">Numer telefonu</label>
    <div class="alert alert-danger" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
      <div *ngIf="phoneNumber.errors.required">
        Pole <strong>Numer telefonu</strong> jest wymagane
      </div>
      <div *ngIf="phoneNumber.errors.pattern">
        Pole <strong>Numer telefonu</strong> może zawierać tylko cyfry w formacie 999 999 999
      </div>
    </div>
    <input type="tel" class="form-control" id="phone-number" name="phone-number" pattern="\d{3} \d{3} \d{3}" required="required"
      [(ngModel)]="contact.phoneNumber" #phoneNumber="ngModel">
  </div>
  <div class="form-group">
    <label for="preferred-contact-form">Preferowana forma kontaktu</label>
    <div class="alert alert-danger" *ngIf="preferredContactForm.invalid && (preferredContactForm.dirty || preferredContactForm.touched)">
      <div *ngIf="preferredContactForm.errors.required">
        Pole <strong>Preferowana forma kontaktu</strong> jest wymagane
      </div>
    </div>
    <select name="preferred-contact-form" id="preferred-contact-form" class="form-control" required="required"
      [(ngModel)]="contact.preferredContactForm" #preferredContactForm="ngModel">
      <option selected="selected"></option>
      <option value="email">E-Mail</option>
      <option value="telephone">Telefoniczna</option>
      <option value="post">List polecony</option>
    </select>
  </div>
  <app-date-from-to></app-date-from-to>
  <button type="submit" class="btn btn-primary" [disabled]="! contactForm.invalid">Wyślij</button>
</form>
