<div class="col-12" *ngIf="!loading && car">
  <div class="row">
    <div class="col-10">
      <h1>Szczegóły samochodu: {{car.brand.name}} {{car.model.name}}</h1>
    </div>
    <div class="col-2">
      <a routerLink="/list" class="btn btn-primary">Powrót</a>
    </div>
  </div>
  <p>Rok produkcji: {{car.productionYear}}</p>
  <p>Następny przegląd: {{car.nextCarInspection}}</p>
  <p>Cena za dzień: {{car.price}} PLN</p>
  <button class="btn btn-info" (click)="loadCarDetails()">Refresh...</button>
</div>
<div class="col-12 alert alert-danger" *ngIf="!loading && error">
  Wystąpił błąd:
  <pre>{{error | json}}</pre>
</div>
<div class="col-12 alert alert-info" *ngIf="loading">
  Ładowanie danych...
</div>
