<form (ngSubmit)="onSubmit(carForm)" #carForm="ngForm">
  <div class="alert alert-danger" *ngIf="error">
    Niestety nie udało się zapisać danych, szczegóły błędu:
    <pre>{{error | json}}</pre>
  </div>
  <div class="alert alert-success" *ngIf="success">
    Pomyślnie zapisano dane.
  </div>
  <div class="form-group">
    <label for="brand">Marka samochodu</label>
    <div class="alert alert-danger" *ngIf="brand.invalid && (brand.touched || brand.dirty)">
      <ul>
        <li *ngIf="brand.errors.required">Pole <strong>Marka</strong> jest wymagane</li>
      </ul>
    </div>
    <ng-select name="brand" id="brand" required="required" [items]="brands" bindLabel="name" [loading]="brandsLoading"
      (change)="onBrandSelect(brand)" [(ngModel)]="car.brand" #brand="ngModel">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <div class="alert alert-danger" *ngIf="model.invalid && (model.touched || model.dirty)">
      <ul>
        <li *ngIf="model.errors.required">Pole <strong>Model</strong> jest wymagane</li>
      </ul>
    </div>
    <ng-select name="model" id="model" [disabled]="brand.invalid" [items]="models" bindLabel="name" [loading]="modelsLoading"
      [(ngModel)]="car.model" required="required" #model="ngModel">
    </ng-select>
  </div>
  <div class="form-group">
    <label for="prod-year">Rok produkcji</label>
    <div class="alert alert-danger" *ngIf="productionYear.invalid && (productionYear.touched || productionYear.dirty)">
      <ul>
        <li *ngIf="productionYear.errors.required">Pole <strong>Rok produckji</strong> jest wymagane</li>
        <li *ngIf="productionYear.errors.pattern">Pole <strong>Rok produckji</strong> powinno być z zakresu 2005 - 2020</li>
      </ul>
    </div>
    <input type="number" name="prod-year" id="prod-year" class="form-control" [(ngModel)]="car.productionYear" required="required"
      min="2005" max="2020" pattern="^20(0[5-9]|1[0-9]|20)$" #productionYear="ngModel">
  </div>
  <div class="form-group">
    <label for="next-inspection">Data następnego przeglądu</label>
    <div class="alert alert-danger" *ngIf="nextCarInspection.invalid && (nextCarInspection.touched || nextCarInspection.dirty)">
      <ul>
        <li *ngIf="nextCarInspection.errors.required">Pole <strong>Rok produckji</strong> jest wymagane</li>
      </ul>
    </div>
    <input type="date" name="next-inspection" id="next-inspection" class="form-control" [(ngModel)]="car.nextCarInspection"
      required="required" #nextCarInspection="ngModel">
  </div>
  <div class="form-group">
    <label for="price">Cena za dzień</label>
    <div class="alert alert-danger" *ngIf="price.invalid && (price.dirty || price.touched)">
      <ul>
        <li *ngIf="price.errors.required">Pole <strong>Cena za dzień</strong> jest wymagane</li>
        <li *ngIf="price.errors.pattern">Pole <strong>Cena za dzień</strong> musi zawierać poprawną cenę</li>
      </ul>
    </div>
    <div class="input-group">
      <input type="number" name="price" id="price" class="form-control" [(ngModel)]="car.price" required="required"
        pattern="^\d*(\.\d{0,2})?$" #price="ngModel">
      <div class="input-group-append">
        <span class="input-group-text">PLN</span>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="carForm.invalid">Zapisz</button>
  <a routerLink="/list" class="btn btn-danger">Anuluj</a>
</form>
