<div class="form-group">
  <label>Data od</label>
  <div class="alert alert-danger" *ngIf="form.get('dateFrom').invalid && (form.get('dateFrom').dirty || form.get('dateFrom').touched) || (form.errors && form.errors.beforeError)">
    <div *ngIf="form.get('dateFrom').errors && form.get('dateFrom').errors.required">
      Pole <strong>Data od</strong> jest wymagane
    </div>
    <div *ngIf="form.errors && form.errors.beforeError">
      Wartość <strong>Data od</strong> nie może być później niż <strong>Data do</strong>
    </div>
  </div>
  <input [formControl]="form.get('dateFrom')" class="form-control" type="date">
</div>
<div class="form-group">
  <label>Data do</label>
  <div class="alert alert-danger" *ngIf="form.get('dateTo').invalid && (form.get('dateTo').dirty || form.get('dateTo').touched) || (form.errors && form.errors.beforeError)">
    <div *ngIf="form.get('dateTo').errors && form.get('dateTo').errors.required">
      Pole <strong>Data do</strong> jest wymagane
    </div>
    <div *ngIf="form.errors && form.errors.beforeError">
      Wartość <strong>Data od</strong> nie może być później niż <strong>Data do</strong>
    </div>
  </div>
  <input [formControl]="form.get('dateTo')" class="form-control" type="date">
</div>
