<div *ngIf="!loading">
  <div class="alert alert-success" *ngIf="weather">
    <h4>Pogoda dla {{weather.name}}</h4>
    <p>Aktualna temperatura: {{weather.main.temp}} <sup>o</sup>C</p>
    <p>Aktualne ciśnienie: {{weather.main.pressure}} hPa</p>
    <p>Siła wiatru: {{weather.wind.speed}} km/h</p>
    <img [src]="weather.weather.icon" async>
  </div>
  <div class="alert alert-danger" *ngIf="error">
    Nastąpił błąd podczas pobierania danych. Szczegóły błędu:<br>
    <div *ngIf="error.status == 0">
      Brak połączenia z siecią Internet. Sprawdź połączenie i spróbuj ponownie!
    </div>
    <div *ngIf="error.status == 404">
      Nie znaleziono pasującego miasta. Spróbuj podać inną nazwę miasta.
    </div>
  </div>
</div>
<div class="alert alert-info" *ngIf="loading">
  Trwa pobieranie danych
</div>
