*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.content {
    height: 200px;
}

a {
    display: block;
}