<div class="row">
  <div class="col-sm-6 col-12">
    <form (ngSubmit)="submitForm(weatherForm)" #weatherForm="ngForm">
      <div class="form-group">
        <label for="city">Podaj miasto:</label>
        <div class="alert alert-danger" *ngIf="city.invalid && (city.dirty || city.touched)">
          <ul>
            <li *ngIf="city.errors.required">Pole <strong>Miasto</strong> jest wymagane</li>
            <li *ngIf="city.errors.minlength">Pole <strong>Miasto</strong> musi zawierać co najmniej 3 znaki</li>
          </ul>
        </div>
        <input type="text" name="city" id="city" class="form-control" required="required" minlength="3" [ngModel]="cityName"
          #city="ngModel">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="weatherForm.invalid">Wyślij</button>
    </form>
  </div>
  <div class="col-sm-6 col-12">
    <app-weather [clickEvent]="clickEventEmitter"></app-weather>
  </div>
</div>
