<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-10" data-target="#criteria-card" data-toggle="collapse">
        Wyszukiwanie
      </div>
      <div class="col-2">
        <a routerLink="/form" class="btn btn-primary">Dodaj samochód</a>
      </div>
    </div>
  </div>
  <div class="card-body collapse" id="criteria-card">
    <form (ngSubmit)="loadData(carCriteria)" #carCriteria="ngForm">
      <div class="form-group">
        <label for="brand">Marka</label>
        <ng-select name="brand" id="brand" [items]="brands" bindValue="id" bindLabel="name" [(ngModel)]="criteria.brand"
          #brand="ngModel">
        </ng-select>
      </div>
      <div class="form-group">
        <label for="model">Model</label>
        <ng-select name="model" id="model" [items]="models" bindValue="id" bindLabel="name" [(ngModel)]="criteria.model"
          #model="ngModel">
        </ng-select>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="prodYearAfter">Rok produkcji od</label>
          <input type="number" name="prodYearAfter" id="prodYearAfter" class="form-control" [(ngModel)]="criteria.prodYearAfter"
            #prodYearAfter="ngModel">
        </div>
        <div class="form-group col-6">
          <label for="prodYearBefore">Rok produkcji do</label>
          <input type="number" name="prodYearBefore" id="prodYearBefore" class="form-control" [(ngModel)]="criteria.prodYearBefore"
            #prodYearBefore="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="nextCarInspectionAfter">Data następnego przeglądu od</label>
          <input type="date" name="nextCarInspectionAfter" id="nextCarInspectionAfter" class="form-control" [(ngModel)]="criteria.nextCarInspectionAfter"
            #nextCarInspectionAfter="ngModel">
        </div>
        <div class="form-group col-6">
          <label for="nextCarInspectionBefore">Data następnego przeglądu do</label>
          <input type="date" name="nextCarInspectionBefore" id="nextCarInspectionBefore" class="form-control"
            [(ngModel)]="criteria.nextCarInspectionBefore" #nextCarInspectionBefore="ngModel">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-6">
          <label for="priceFrom">Cena od</label>
          <div class="input-group">
            <input type="number" name="priceFrom" id="priceFrom" class="form-control" [(ngModel)]="criteria.priceFrom"
              #priceFrom="ngModel">
            <div class="input-group-append">
              <span class="input-group-text">PLN</span>
            </div>
          </div>
        </div>
        <div class="form-group col-6">
          <label for="priceTo">Cena do</label>
          <div class="input-group">
            <input type="number" name="priceTo" id="priceTo" class="form-control" [(ngModel)]="criteria.priceTo"
              #priceTo="ngModel">
            <div class="input-group-append">
              <span class="input-group-text">PLN</span>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Szukaj</button>
    </form>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Marka</th>
      <th>Model</th>
      <th>Rok Produkcji</th>
      <th>Data kolejnego przeglądu</th>
      <th>Cena</th>
    </tr>
  </thead>
  <tbody *ngIf="cars">
    <tr *ngFor="let car of cars.content">
      <td>{{car.brand.name}}</td>
      <td>{{car.model.name}}</td>
      <td>{{car.productionYear}}</td>
      <td>{{car.nextCarInspection | date:'yyyy-MM-dd'}}</td>
      <td>{{car.price}}</td>
      <td><a routerLink="/details/{{car.id}}" class="btn btn-primary">See</a></td>
    </tr>
  </tbody>
</table>
